.section-marketing {
    background-color: #090909;
    color: white;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 20px;
}


.div-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 700px;
    overflow: hidden;
    margin-left: 50px;
}

.p-title {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 25px;
}

.p-horizontes {
    font-size: 1.rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 25px;
}

.h1-marketing {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 25px;
}

.button-contacto {
    padding: 22px 40px 22px 40px;
    border-radius: 30px;
    border: none;
    background-color: #1d7175;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.5s ease;
    margin-left: 10px;
}

.button-contacto:hover {
    background-color: rgba(32, 232, 232, 0.81);
    cursor: pointer;
}


.div-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;

    width: 800px;
    height: 100%;
}

.imagen-container {
    position: relative;
    height: auto;
    width: 100%;

}

.imagen-computer {
    width: 100%;
    height: auto;
    display: block;


}



.p-eslogan {
    background-color: #06b5c1;
    padding: 25px;
    width: fit-content;
    font-size: larger;
    max-width: 320px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px 0 0 20px;
    position: absolute;

    bottom: 40px;
    transform: translateX(50%);
    left: 60px;
    z-index: 2;



}

.slogan-marketing {
    margin-top: 30px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.list-marketing {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: medium
}

.item-list {
    width: 100%;
}