.container-form {
    background-color: #090909;
    color: white;
    width: 100%;
    height: 125vh;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;


    flex-direction: column;

}

.marketing-videocontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;


}

.form-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 900px;
    padding-bottom: 40px;
    margin: 0 auto;


}

.form-p {
    padding-bottom: 20px;
    font-size: 0.75rem;
}

.h1-form {
    padding-bottom: 20px;
    font-size: 1.8rem;
}

.form-article {
    text-align: center;
}

.form-field {
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}



.form-field input {
    width: 500px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;

    background-color: transparent;
    color: rgb(253, 253, 253);
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(72, 70, 70);


    margin-bottom: 60px;

}

.form-field label {
    position: absolute;

    font-family: 'Montserrat', sans-serif;

    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
    color: rgb(72, 70, 70);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

.text-tarea {
    background-color: transparent;
    color: white;
    max-height: 130px;
    max-width: 480px;
    min-height: 130px;

    font-size: 1rem;
    border: 1px solid rgb(72, 70, 70);
    outline: none;
    padding: 10px;

    transition: border 0.3s ease;

}

input[type="number"] {
    -moz-appearance: textfield;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

textarea:focus {
    border: 2px solid #1d7175;

}

.text-tarealabel {
    top: 320px;
    left: 1%;
}

.text-tarea:focus+.text-tarealabel,
.text-tarea:not(:placeholder-shown)+.text-tarealabel {
    top: 300px;

    left: 10px;
    font-size: 16px;
    background-color: #1d7175;
    color: white;
    padding: 0 10px;
}


.text-tarea:not(:placeholder-shown)+.text-tarealabel {
    opacity: 0;

    visibility: hidden;

}


input:focus+label,
input:not(:placeholder-shown)+label {
    top: 0;

    left: 10px;
    font-size: 16px;
    background-color: #1d7175;
    color: white;
    padding: 0 10px;
}


input:not(:placeholder-shown)+label {
    opacity: 0;

    visibility: hidden;

}

.input-name+.name-label {
    top: 20px;
}

.input-email+.email-label {
    top: 120px;
}

.input-number+.number-label {
    top: 220px;
}

.input-name:focus+.name-label,
.input-name:not(:placeholder-shown)+.name-label {
    top: 0;
    left: 1%;
}

.input-email:focus+.email-label,
.input-email:not(:placeholder-shown)+.email-label {
    top: 100px;
    left: 1.5%;
}

.input-number:focus+.number-label,
.input-number:not(:placeholder-shown)+.number-label {
    top: 200px;
    left: 1%;
}


.form-button {
    width: 100%;
    margin-top: 60px;
    padding: 30px 0 30px 0;
    background-color: #06b5c1;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    transition: background-color 0.3s ease-in-out;

}

.form-button:hover {
    background-color: #282828;
    cursor: pointer;
}